<section id="benefits" class="section benefits {{include.class}}">
    <div class="container text-center">

        <h2>Přínosy řešení</h2>

        <div class="row benefits">

            <ul class="nav nav-pills nav-stacked col-sm-3 col-sm-offset-2" role="tablist">

                {% for benefit in site.benefits limit:3 %}

                    {% if forloop.index == 1 %}
                        <li role="presentation" class="active">
                    {% else %}
                        <li role="presentation">
                    {% endif %}

                    <a href="#{{forloop.index}}" aria-controls="{{forloop.index}}" role="tab" data-toggle="tab">
                        {{benefit.icon}} {{benefit.title}}
                    </a>

                </li>
                {% endfor %}

            </ul>

            <div class="tab-content col-sm-7">

                {% for benefit in site.benefits limit:3 %}

                        {% if forloop.index == 1 %}
                            <div role="tabpanel" class="tab-pane benefit active" id="{{forloop.index}}">
                        {% else %}
                            <div role="tabpanel" class="tab-pane benefit" id="{{forloop.index}}">
                        {% endif %}

                        <p>{{benefit.content}}</p>

                    </div>

                {% endfor %}

            </div>

        </div>

    </div>
</section>
