
<section id="contact" class="section contact bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Máte zájem o řešení?</h2>
                <p class="lead">Hledáte řešení pro vaše přepravy?</p>
                <p class="lead">Hledáte řešení pro vaše řidiče?</p>
                <p class="lead">Potřebujete rychlou integraci?</p>
                <br/>
                <a href="mailto:hello@trackstone.com?subject=Poptávka" class="btn btn-dark btn-lg"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Napište nám!</a>
            </div>
        </div>
    </div>
</section>
