<!-- jQuery Version 1.11.0 -->
<script src="{{ site.baseurl }}{{ "/assets/javascripts/jquery-1.11.0.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}{{ "/assets/javascripts/bootstrap.min.js" }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}{{ "/assets/javascripts/jquery.easing.min.js" }}"></script>
<script src="{{ site.baseurl }}{{ "/assets/javascripts/classie.js" }}"></script>
<script src="{{ site.baseurl }}{{ "/assets/javascripts/cbpAnimatedHeader.js" }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}{{ "/assets/javascripts/agency.js" }}"></script>
