<section id="modules" class="section modules {{include.class}}">
    <div class="container text-center">

        <h2>Klíčové funkce</h2>

        <div class="row">

            {% for module in site.modules %}
            <div class="col-sm-6">
                <div class="module">
                    <!--<img src="http://dummyimage.com/160x293/ebebeb/004277" />-->
                    <h3>{{module.title}}</h3>
                    <p>{{module.content}}</p>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>
