<!-- About Section -->
<section id="vision" class="section vision">
    <div class="container text-center">

        <h2>Naše vize</h2>

        <p class="lead"></p>

        <div class="row">
            <div class="col-sm-4">

                <p>Jsme univerzální online služba pro plánování a sledování nakládek a vykládek libovolných přeprav, včetně průběžného zaznamenávání polohy během přepravy.</p>

            </div>
            <div class="col-sm-4">

                <p>Naším cílem je zjednodušení komunikace mezi objednatelem přepravy,  dopravcem a řidičem před i během přepravy.</p>

            </div>
            <div class="col-sm-4">

                <p>Chceme omezit posílání SMS, volání a opakované dotazování na stav přepravy a nahradit ji komunikací přes mobilní aplikaci, nebo plně automatizovat.</p>

            </div>
        </div>

    </div>
</section>
